<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptw.dept">   <!-- 우리가 정하는부분 -->

	<resultMap type="dvo" id="deptResult">
		<result property="department_id" column="department_id"/>
		<result property="department_name" column="department_name"/>
		<result property="manager_id" column="manager_id"/>
		<result property="location_id" column="location_id"/>
	</resultMap>
  
	<select id="selectAll" resultMap="deptResult">
	   select * from departments order by 1
	</select>
	<select id="selectById" resultType="dvo" parameterType="int">
		select * from departments where department_id = #{aa}
	</select>
	<insert id="insert" parameterType="dvo">
		insert into departments(department_id, department_name, manager_id, location_id) 
		values(#{department_id},#{department_name},#{manager_id},#{location_id})
	</insert>
	<update id="update" parameterType="com.ptw.model.DeptVO">
		update departments
		set department_name = #{department_name},
		manager_id = #{manager_id},
		location_id = #{location_id}
		where department_id = #{department_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from departments
		where department_id = #{department_id}
	</delete>

  
</mapper>